	* {
	     outline: none;
	     font-family: 'Segoe UI';
	     font-size: 1em;
	     line-height: 1;
	}
	html {
	     background: #FAF1E1;
	     overflow-x: hidden;
	}
	body {
	     background: #FAF1E1;
	     width: 100%;
	     padding: 0;
	     margin: 0;
	     overflow-x: hidden;
	}
	h4 {
	     width: 100% !important;
	}
	label {
	     width: auto;
	     padding: 0.5em;
	     margin-bottom: 0;
	}
	label.note {
	     padding-top: 0.6em;
	     font-size: 0.8em;
	}
	label.note a {
		color: #999999;
	}
	label.note a:hover {
		color: #47341E;
	}
	input[type="text"], input[type="password"], input[type="file"], input[type="radio"], select {
	     width: 90%;
	     border: 0;
	     border-bottom: 1px #dddddd solid;
	     padding: 0.5em;
	     border-radius: 3px;
	     background: #ffffff;
	     color: black !important;
	}
	input[type="text"]:focus, input[type="password"]:focus, input[type="file"]:focus, select:focus {
	     border-bottom: 1px #47341E solid;
	}
	select.selarea {
	     border-bottom: 0;
	     float: left;	     
	}
	select.selarea:focus {
	     border-bottom: 0;
	}
	input[type="radio"] {
		border: 0;
	}
	select {
		color: #777777 !important;
		padding-left: 0.25em;
	}
	option {
		color: #000000 !important;
	}
	button {
	     border: 0;
	     padding: 0.75em 0.5em;
	     border-radius: 5px;
	     background: #47341E;
	     color: white;
	}
	button:hover {
	     background: #57341E;
	}
	a {
		color: black;
	}
	a:hover {
		text-decoration: none;
	}
	h5 {
		font-size: 1em;
	}
	.container-fluid.header {
		background: black;
		position: fixed;
		top: 0;
		z-index: 10000;
		color: white;
		box-shadow: 0px 5px 10px #999999;
	}
	.container-fluid.header img {
		cursor: pointer;
		height: 100%;
	}
	.container-fluid.header img.logo {
		height: 34px;
	}
	.container-fluid.header .col-sm-11 {
		text-align: right;
		padding: 0.2em 0;
	}
	.container-fluid.header .col-sm-11 i {
		font-size: 1.6em;
	}
	.container-fluid.header .col-sm-11 img.admin {
		height: 2em;
		width: 2em;
		border-radius: 100px;
		margin-left: 0.25em;
	}
	img.ul {
		height: 28px;
		border-radius: 100px;
	}
	.container-fluid.fillmap, .container-fluid.fill {
		position: absolute;
		padding-bottom: 0;
	}
	.container-fluid.fillmap .row {
		height: 100%;
	}
	.container-fluid.fillmap .row .col-sm-3 {
		height: 10%;
	}
	.container-fluid.fillmap .row .col-sm-12 {
		height: 88%;
		padding-bottom: 2%;
	}
	.container-fluid.fillmap .row .col-sm-12.clear {
		height: 1em;
	}
	.container-fluid.fillmap .row .col-sm-12 .map {
		height: 100%;
		background: #efefef;
		border-radius: 7px;
	}
	.container-fluid.fillmap .row .col-sm-12.datamap {
		height: auto;
		padding: 2em;
		margin-top: 1%;
		background: white;
		border-radius: 7px;
		margin-bottom: 2em;
	}
	.col-sm-9.float-left.text-right.lblfooter-big label {
		font-size: 0.8em;
	}	
	.col-sm-12.shadow {
		background: white;
		padding: 2em 1em;
		border-radius: 7px;
		box-shadow: -1px -0px 5px 2px #dddddd;
	}	
	.menu-wall {
		position: fixed;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		z-index: 20000;
		background: black;
		opacity: 0.9;
		visibility: hidden;
	}
	ul.menu {
		z-index: 30000;
	}
	ul.menu li {
		list-style: none;
		display: inline-block;
		padding-top: 0.25em;
		text-align: center;
	}	
	ul.menu li.img {
		color: white;
		margin-right: 1em;
	}
	ul.menu li.img:hover {
		border-bottom: none;
	}
	ul.menu li a {
		color: #999999;
		width: 100%;
		padding: 0 0.5em;
		padding-bottom: 0.5em;
		cursor: pointer;
	}
	ul.menu li a.active {
		color: white;
	}
	ul.menu li a.active:hover {
		color: white;
	}
	ul.menu li a:hover {
		color: white;
	}
	.container-fluid.fill {
		height: auto;
	}
	.col-sm-12.error {
		position: absolute;		
		bottom: 2em;
		left: 0;
		text-align: center;
		width: 100%;
		visibility: hidden;
	}
	.col-sm-12.error label {
		padding: 0.75em;
		font-size: 0.7em;
		margin-left: 0;
		background: #dddddd;
		color: #000000;
	    border-top-left-radius: 8% 50%;
	    border-bottom-left-radius: 8% 50%;
	    border-top-right-radius: 8% 50%;
	    border-bottom-right-radius: 8% 50%;
	}
	.col-sm-6.field.error label {
		font-size: 0.8em;
		color: red;
	}
	.col-sm-7.field.error {
		height: 1.2em;
		padding-bottom: 3em;
	}
	.col-sm-7.field.error label {
		font-size: 0.8em;
		color: red;
		padding-left: 2em;		
	}
	.container-fluid .row .col-sm-12.lblfooter-sm-all {
		padding: 0;
		padding-top: 3em;
		padding-bottom: 1em;
		overflow-y: hidden;
		margin-bottom: 1em;
	}
	.container-fluid .row .col-sm-12.lblfooter-sm-all label {
		font-size: 0.7em;
		text-align: center;
		padding-bottom: 1em;
		padding: 0;
		width: 100%;
		text-align: center;
		margin-left: 0%;
	}
	.container-fluid.fillmap .row .col-sm-12.lblfooter-sm {
		padding: 0;
		overflow-y: hidden;
		margin-bottom: 1em;
	}
	.container-fluid.fillmap .row .col-sm-12.lblfooter-sm label {
		font-size: 0.7em;
		text-align: center;
		padding-bottom: 1em;
		padding: 0;
	}
	table {
		border: 0;
		border-spacing: 0;
		border-collapse: separate;
	}
	table th {
		padding: 0.5em 0;
		background: #47341E;     
		text-transform: uppercase;
		text-align: center;
		color: #ffffff;
		font-weight: normal;
		font-size: 1em;
	}
	table td {
     	padding: 1.5em 0;
    }
    table tr:hover {
     	background: #F9F9F9;
    }
    table td a {
     	color: white;
     	background: #47341E;
     	padding: 0.25em 1em;
     	border-radius: 5px;
    }
    table td a:hover {
     	color: white;
     	background: #57341E;	
    }
    .col-sm-1.field {
		padding: 1em 0;
		width: auto;
	}
	.col-sm-4.product p {
		float: left;
	}
	.col-sm-4.product p label.name {
		height: 3.5em;
		font-weight: bold;
		line-height: 1;
	}
	.col-sm-4.product p label {
		height: 1em;
		margin: 0;
		width: 100%;
	}
	.col-sm-4.product p input {
		margin: 0 2.5% !important;
		max-width: 45%;
		float: left;
		border-radius: 0;
		padding: 0.25em;
		height: 2em;
		margin-top: 2em !important;
		border-radius: 3px;
		text-align: center;
	}
	.col-sm-4.product p button {		
		margin: 0 2.5% !important;
		max-width: 45%;
		float: left;
		border-radius: 0;
		padding: 0.25em;
		height: 2em;
		margin-top: 2em !important;
		border-radius: 3px;
	}
	.col-sm-4.product, .col-sm-6.product {
		float: left;
		margin-top: 1em;
	}
	.col-sm-12.field.add_data {
		padding-bottom: 0;
		height: auto;
	}
	.col-sm-12.field.add_data button {
		margin-left: 1em;
		width: 30%;
	}
	.col-sm-12.field.order {
		margin-top: 1em;
		float: left;	
	}
	.col-sm-3.order, .col-sm-6.order {
		float: left;
		height: auto;
	}
	.col-sm-3.order {
		text-align: center;
	}
	.col-sm-3.order input {
		text-align: center;
		float: left;
	}
	.col-sm-3.order button {
		float: left;
	}
	.col-sm-3.order button.cancel {
		background: #ffffff;
		color: #666666;
		border: 1px #47341E solid;
	}
	.col-sm-3.order button.cancel:hover {
		color: #000000;
	}
	.col-sm-3.order.image {
		text-align: left;
	}
	.col-sm-6.order .col-sm-1 {
		max-width: 1em;
	}
	.col-sm-6.order label {
		height: 1.5em;
		padding: 0;
		margin: 0;
		float: left;
		width: 100%;
	}
	.col-sm-6.order label.name {
		font-weight: bold;
	}
	.col-sm-6.order label.stts {
		font-style: italic;
		color: #999999;
		margin-top: 1.5em;
	}
	.col-sm-12.shadow .col-sm-5.field.option {
		padding: 0 0.5em !important;
	}
	.col-sm-12.shadow .col-sm-12 label.error {
		font-size: 0.8em;
		color: red;
		margin-left: 0;
	}
	.col-sm-12.shadow .col-sm-12.field, .col-sm-12.shadow .col-sm-5.field.option {
		padding: 1em 0;
		padding-top: 0;
	}
	.col-sm-12.shadow .col-sm-5.field.option .col-sm-6 label {
		width: auto !important;
		float: left;
		padding-left: 0;
	}
	.col-sm-12.shadow .col-sm-5.field.option .col-sm-6 input {
		float: left;
		margin-top: 0.5em;
	}					
	.col-sm-12.shadow .col-sm-5.field.option .col-sm-6 {
		max-width: 50%;
		padding: 1.5em;
		padding-right: 0;
		padding-top: 0;
		padding-left: 0;
		color: #777777;		
	}
	.col-sm-12.shadow .col-sm-12.field.login {
		width: 100%;
	}
	.col-sm-12.shadow .col-sm-12.field.login button {
		max-width: 40%;
	}
	.col-sm-12.shadow h4 {
		padding-bottom: 1em !important;
	}
	.row.col-sm-12.data .col-sm-6.field, .row.col-sm-12.data .col-sm-1.field, .row.col-sm-12.data .col-sm-8.field {
		height: 100%;
	}
	table.pesananadm tr:hover {
		background: white;
	}
	.navigation {
		padding: 1em 10%;
		text-align: right;
	}
	.navigation a {
		padding: 0 0.5em;
	}
	.navigation a.active {
		background: #47341E;
		color: #fff;
	}
	.navigation a:hover {
		background: #47341E;
		color: #fff;
	}
